<div class="brand-theme">Anti Nihilism Fashion Brand</div>
<div id="flash"><%= flash[:notice] %></div>
<div id="cxxsew-contents">
    <div class="article">
        <h1>- 管理画面 -</h1>
        
    </div>
    <p>データ内容を選択して一覧表示・編集</p>
    <div class="data-wrapper">
        <div class="btn"><a href="/admin_view?which=user">登録者</a></div>
    </div>
    <div class="data-wrapper">
        <div class="btn"><a href="/admin_view?which=work_cat">商品カテゴリー</a></div>
        <div class="btn"><a href="/admin_view?which=work">商品</a></div>
    </div>
    <div class="data-wrapper">
        <div class="btn"><a href="/admin_view?which=article_cat">記事カテゴリー</a></div>
        <div class="btn"><a href="/admin_view?which=article">記事</a></div>
    </div>
    <div class="data-wrapper">
        <div class="btn"><a href="/admin_view?which=news_cat">ニュースカテゴリー</a></div>
        <div class="btn"><a href="/admin_view?which=news">ニュース</a></div>
    </div>
</div>

