<div class="brand-theme">Anti Nihilism Fashion Brand</div>

<div id="cxxsew-contents">
    <div class="article">
        <h1>- Help -</h1>
        
        <div class="questions">
            <p>◆よくある質問</p>
            <div class="q-wrapper">
                <div class="question">
                    Q. 実店舗はありますか。
                </div>
                <div class="answer">
                    A. オンラインでのみ購入いただけます。
                </div>
            </div>
            <div class="q-wrapper">
                <div class="question">
                    Q. 実店舗はありますか。
                </div>
                <div class="answer">
                    A. オンラインでのみ購入いただけます。
                </div>
            </div>
            <div class="q-wrapper">
                <div class="question">
                    Q. 実店舗はありますか。
                </div>
                <div class="answer">
                    A. オンラインでのみ購入いただけます。
                </div>
            </div>
            <div class="q-wrapper">
                <div class="question">
                    Q. 実店舗はありますか。
                </div>
                <div class="answer">
                    A. オンラインでのみ購入いただけます。
                </div>
            </div>
            <div class="q-wrapper">
                <div class="question">
                    Q. 実店舗はありますか。
                </div>
                <div class="answer">
                    A. オンラインでのみ購入いただけます。
                </div>
            </div>
        </div>
    </div>
</div>

