<div class="brand-theme">Anti Nihilism Fashion Brand</div>

<div id="cxxsew-contents">
    <h1>- Thank You! -</h1>
    <p>ご購入ありがとうございます！今後ともCxxSewをよろしくお願いします。私たちもあなたのことを応援し続けます。</p>
    
    
    <div class="btn" id="submit-btn"><a href="/index">トップページへ</a></div>
    
</div>

