<main>
  <div class="contents" id="login-con">
    <h1>パスワード再設定</h1>
    <p>パスワード再設定用のメールを送信しました。メールをご確認の上、パスワードの再設定を行ってください。</p>
    <a href="/" class="btn" id="submit-btn">TOPページへ</a>
  </div>
</main>