<main>
  <div class="contents" id="login-con">
    <h1>アカウント仮登録完了</h1>
    <div id="flash"><%= flash[:notice] %></div>
      <p class="notice">本人確認メールを送信しました。</p>
      <p>ご登録いただいたメールアドレス宛に本登録メールをお送りいたしました。メール本文に記載されているURLを押してアカウント有効化手続きを完了させてください。</p>
    
      <p class="notice">メールが届かない場合</p>
        <p>迷惑メールフォルダ等に振り分けられていないかご確認ください。</p>
        <p>携帯メールアドレスの場合、ドメイン設定によりメールが受信できない場合がございます。「ドメイン名」を受信許可リストに設定の上、<%= link_to "こちら", action:'success' %>からメールを再送してください。</p>
  </div>
</main>