<footer id="sns-footer">
	<div id="sns-footer-side">
		<a href="/" id="ft-center">
			<div>Portfolio</div>
		</a>
		<p>Social Media</p>
		<p>social_media@example.com</p>
		<ul class="follow-links">
			<li class="follow-link"><a href="https://twitter.com" target="_blank"><%= image_tag "/svg/twiiter_w.svg", alt:"", class:"icon" %></a></li>
			<li class="follow-link"><a href="https://ja-jp.facebook.com" target="_blank"><%= image_tag "/svg/facebook_w.svg", alt:"", class:"icon" %></a></li>
			<li class="follow-link"><a href="https://www.instagram.com" target="_blank"><%= image_tag "/svg/instagram_w.svg", alt:"", class:"icon" %></a></li>
			<li class="follow-link"><a href="https://line.me" target="_blank"><%= image_tag "/svg/line_w.svg", alt:"", class:"icon" %></a></li>
		</ul>
		<small>(C) 2023 Social Media.Inc All Rights Reserved.</small>
	</div>
</footer>