<main>
    <div class="side-bar pc">
        <%= render 'sidebar' %>
    </div>

    <div class="contents" id="sns-contents">
        <h2>フォロー中 一覧</h2>
        <% @relationships.each do |r| %>
            <%= r.followed_id %>
        <% end %>
    </div>
</main>