<main>
    <div class="side-bar pc">
        <%= render 'sidebar' %>
    </div>

    <div class="contents" id="sns-contents">
        <h2>フォロワー 一覧</h2>
        <div id="followed-relationships">
            <%= render 'social_media/follower_relationships' %>
        </div>
    </div>
</main>