<div class="back">

    <div class="side-bar pc">
        <%= render 'sidebar' %>
    </div>

    <div class="contents" id="sns-contents">
        <h2>プロフィール</h2>
        <%= image_tag "/image/art.png", class:"profile-thumb", alt:"" %>
        <p>UserName: Luffy</p>
        <p>ID: @kaizokuou</p>
        <p>紹介文: ブロックチェーンゲームを作成する場合のEthereum上のスマートコントラクトの実装において、以下のような全体像の設計が考えられます。</p>
    </div>
</div>