<div class="link">
    <ul class="kanji-nav pc">
        <li class="japanese_kanji">
            <a href="/kanji/1">１年漢字</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/2">２年漢字</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/3">３年漢字</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/4">４年漢字</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/5">５年漢字</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/6">６年漢字</a>
        </li>
    </ul>
    <ul class="kanji-nav sp-flex">
        <li class="japanese_kanji">
            <a href="/kanji/1">１年</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/2">２年</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/3">３年</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/4">４年</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/5">５年</a>
        </li>
        <li class="japanese_kanji">
            <a href="/kanji/6">６年</a>
        </li>
        
    </ul>
</div>