<div class="study-back">
    <div id="page_top"><a></a></div>

    <div class="study-contents">
    <p>工事中</p>
    <%= image_tag "social_coming.jpg", class: "not_yet" %>
        
    
    <%= javascript_pack_tag 'toggle'%>
    </div>
</div>