<div class="study-back">
    <div id="page_top"><a></a></div>

    <div class="study-contents">
    <div id="title">社会科の問題集</div>
        
    
    <%= javascript_pack_tag 'toggle'%>
    </div>
</div>