<main>
    <div class="contents">
        <div class="article">
            
        </div>        
        <div class="table-name">
			<h1>500</h1>
			<p>Internal Server Error</p>
			<p>CxxSewをご利用いただきありがとうございます。<br>申し訳ありませんが、お探しのページが見つかりませんでした。<br>お探しのページは削除されたか、URLが変更された場合がございます。</p>
            <div class="btn" id="submit-btn"><a href="/index">トップページへ</a></div>
        </div>
    </div>

    <%= image_tag "/image/mid_main4.png", class:"footer-img", alt:"" %>
</main>