/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@charset "utf-8";
@import "swiper/swiper-bundle.min.css";

.pc {
    display: block;
}

.sp {
    display: none;
}

body {
    margin: 0;
    width: 100%;
    background-color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

.brand-theme {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: #000;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    padding: 85px 0 15px;
    margin: 0;
}

h1 {
    font-size: 24px;
}


h2 {
    margin-top: 40px;
    font-size: 24px;
}

h1, h2, h3, p, a {
    font-family: 'Times New Roman', Times, serif;
}

label {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

input, textarea {
    width: 400px;
    padding: 0 15px;
    height: 50px;
    margin: 5px auto 30px;
    border-radius: 5px;
    border: 1px solid indianred;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    height: 200px;
    padding: 4%;
    resize: none;
}

.subtext {
    font-size: 12px;
}

.left {
    text-align: left;
}

.center {
    text-align: center !important;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 1px 1px 10px grey;
}

#top-header {
    background-color: #000;
}

.pf-hd-center {
    color: #fff;
}

#hd-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.hd-side {
    min-width: 60px;
    height: 100%;
    background-color: indianred;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#hd-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
}

#hd-center div {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

header img {
    width: 50px;
    margin: auto 5px;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    color: #fff;
}

.main-photo {
    width: 100%;
    aspect-ratio: 4/2;
    object-fit: cover;
}

main {
    overflow: hidden;
    background-color: #fff;
}

.contents {
    width: 70%;
    margin: 120px auto 80px;
    text-align: center;
}

#login-con input, #login-con .sub-btn {
    border: 1px solid #000;
}

#login-con .submit-btn {
    background-color: #000;
    display: block;
    cursor: pointer;
}

#login-con .sub-btn a {
    color: #000;
}

#login-con p {
    text-align: left;
}

#cxxsew-main {
    background-image: url("/image/cxxsew_bg.jpeg");
    width: 100%;
    background-repeat: repeat;
    background-size: inherit;
}

#cxxsew-contents {
    width: 85%;
    margin: 20px auto;
    text-align: center;
}

.article {
    text-align: center;
}

.article-flex {
    display: flex;
}

.article-p-wrapper {
    width: 45%;
    margin: auto;
}

.article-img-wrapper {
    width: 45%;
    margin: auto;
}

#child1 {
    order: 0;
}

#child2 {
    order: 1;
}

.large-img, #concept-movie {
    width: 50% !important;
}

.article p {
    text-align: left;
}


.article img {
    width: 100%;
    margin: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.explain {
    display: flex;
}

.explain img {
    width: 35.714286vw;
    object-fit: cover;
}

.works {
    margin-bottom: 25px;
}

.work {
    margin: 2%;
    padding-bottom: 1%;
    box-shadow: 1px 1px 10px grey;
    width: 25%;
    background-color: #fff;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.work a {
    display: block;
}

.works p {
    margin: 0 5%;
}

.works img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.btn {
    background-color: indianred;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 30px auto;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.btn a {
    color: #fff;
    display: block;
}

.rect-wrapper {
    width: 220px;
    margin: 50px auto;
    transform: rotate(45deg);
}

.rect-row {
    display: flex;
    width: 220px;
}

.rect-row a {
    display: block;
    min-width: 100px;
    height: 100px;
    color: #fff;
    margin: 5px;
    line-height: 100px;
    background-color: indianred;
}


.rect-row p {
    transform: rotate(-45deg);
    margin: 40px 0;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

video {
    width: 100%;
    margin-bottom: 30px;
}

.footer-img, .header-img {
    width: 100%;
    vertical-align: top;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: 0 -20px;
}

footer {
    background-color: #000;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
}

footer a {
    color: #fff;
}

#ft-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 5px auto 30px;
    font-size: 25px;
}

footer img {
    width: 50px;
    margin: auto 5px;
}

footer p {
    margin-bottom: 5px;
}

.follow-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 0;
}

.follow-links a {
    display: block;
    margin: 0 20px;
}

.icon {
    width: 22px;
}

small {
    display: block;
    margin-top: 40px;
}


/* Contact */

.questions {
    width: 100%;
    margin-bottom: 40px;
}

.q-wrapper {
    width: 100%;
    margin-bottom: 16px;
}

.question, .answer {
    width: 90%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}

.question {
    background-color: rgb(234, 174, 174);
}

.answer {
    background-color: rgb(247, 217, 217);;
}

.required {
    display: inline-block;
    color: #fff;
    background: indianred;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 5px;
    margin-left: 10px;
    height: 16px;
    line-height: 16px;
}

#submit-btn {
    margin-top: 0;
    color: #fff;
    border-radius: 0;
    display: block;
    cursor: pointer;
}


/* Works */

#works-hd-img {
    object-position: 0 -90px;
}

#work-rect1 {
    top: -400px;
}

#work-rect2 {
    width: 100px;
    height: 100px;
    top: 48px;
    left: 252px;
    transform: rotate(-25deg);
}

#work-rect3 {
    width: 100px;
    height: 100px;
    top: -91px;
    left: 10px;
    opacity: 0.3;
    transform: rotate(19deg);
}

.work-box {
    width: 90%;
    text-align: center;
    margin: 0 auto 30px;
    background-color: #fff;
    padding: 20px 0;
    border: 1px solid indianred;
}

.work-box div {
    width: 80%;
    font-size: 20px;
    margin: 5px auto;
    font-family: 'Times New Roman', Times, serif;
}

.work-box p {
    font-size: 16px;
    width: 80%;
    margin: 15px auto;
    text-align: left;
}

.price {
    color: indianred;
}

.anno {
    font-size: 12px !important;
}

.work-box img {
    width: 80%;
    vertical-align: bottom;
}


/* Content */

#content p {
    width: 90%;
    font-size: 12px;
    margin: 5px auto;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#content img {
    aspect-ratio: 4/3;
}

.date {
    text-align: center !important;
}

#content-date {
    margin-top: 30px;
}

#blog-title {
    text-align: left;
    margin-top: 0;
    width: 90%;
    margin: auto;
}

.content-img {
    margin-top: 10px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.content-img-title {
    font-size: 12px !important;
    text-align: left;
}

#content-box {
    width: 100%;
}

#content-box p {
    margin: 20px auto;
}


/* Concept */
.concept-lists {
    background-color: #000;
    margin: 60px auto 80px;
    width: 250px;
    height: 250px;
    transform: rotate(-45deg);
    display: flex;
}

.concept-lists li {
    transform: rotate(45deg);
    margin: 7%;
    font-family: 'Times New Roman', Times, serif;
}

.concept-lists p {
    margin: 2px 0px auto 14px;
    font-weight: 500;
    color: #fff;
}

.concept-lists a {
    color: #fff;
}

.c-title {
    font-size: 20px;
    font-weight: 800 !important;
    text-align: center !important;
    margin:0 auto 5px !important;
}

/* Purchase */
#purchase-box {
    width: 100%;
}

#cart-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: indianred;
    margin: -20px 0 20px;
    width: 100%;
    color: #fff;
}

#cart-title img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    margin: 15px;
    filter: invert(100%);
}

#cart-title p {
    width: 130px;
    margin: auto 0;
    font-size: 18px;
    font-weight: 600;
}

.selected-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90% !important;
    margin: 0 0 0 5% !important;
    flex-flow: column;
}

.inner-container {
    border: 1px solid indianred;
    padding: 10px;
    margin: 5px 0 5px 0 !important;
    width: 90% !important;
}

.selected-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    width: 100% !important;
}

.selected img {
    width: 40%;
}

.selected p {
    margin: 0 auto 0 0;
    font-size: 14px;
}

.add-msg {
    font-size: 12px !important;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    margin: 0 auto 0 !important;
    width: 100% !important;
}

.bin {
    width: 20px !important;
    height: 20px;
    aspect-ratio: 1/1;
    margin: 0;
    border: none;
}

input[type="checkbox"]{
    width: 20px;
}


/* Admin */
.table-wrapper {
    width: 100%;
    /* overflow-x: auto; */
    background-color: rgb(242, 219, 219);
    margin-bottom: 40px;
}

#scroll-table {
    overflow-y: hidden;
    overflow-x: scroll;
}

.tr {
    display: flex;
}

.tr:nth-child(odd) .td {
    background-color: rgb(233, 192, 192);
}

.th, .td {
    border: 1px solid rgb(228, 170, 170);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 60px;
    line-height: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.th {
    height: 40px;
    line-height: 40px;
    background-color: indianred;
    color: #fff;
}

.th input {
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.th:nth-child(1), .td:nth-child(1) {
    width: 20%;
}

.th:nth-child(2), .td:nth-child(2) {
    width: 20%;
}

.th:nth-child(3), .td:nth-child(3) {
    width: 60%;
}

.th:nth-child(4), .td:nth-child(4) {
    width: 20%;
}

.th:nth-child(5), .td:nth-child(5) {
    width: 20%;
}

.scroll-th, .scroll-td {
    min-width: auto !important;
}

.image, .id  {
    width: 60px !important;
    min-width: 60px !important;
}

.edit, .check {
    width: 40px !important;
    min-width: 40px !important;
}

.edit, .check {
    position: relative;
}

.category {
    min-width: 100px !important;
}

.name {
    width: 100% !important;
    min-width: 150px !important;
    padding: 0 5px;
}

#edit-icon {
    height: 22px;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.edit-wrapper {
    margin: 40px auto;
    background-color: rgb(242, 219, 219);
    border: 1px solid rgb(228, 170, 170);
}

.edit-wrapper .btn, .submit-btn {
    border-radius: 0;
}

.edit-tr .td:nth-child(1) {
    width: 30%;
}

.edit-tr .td:nth-child(2) {
    width: 70%;
}

.edit-tr:nth-child(even) {
    background-color: rgb(242, 219, 219);
}

.edit-td {
    padding: 5px;
    min-height: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-td input, .edit-td textarea {
    margin: 0;
}

.edit-td textarea {
    height: 100px;
}

.about-text {
    line-height: 20px;
    white-space: normal;
    text-align: left;
}

.data-wrapper {
    background: #fff;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid indianred;
}

#flash {
    font-size: 20px;
    color: indianred;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px 0;
}

#delete-btn {
    display: none;
}

#preview p {
    height: 20px;
    line-height: 20px;
    margin: 5px;
}

#preview-image {
    width: 80%;
}

#img_file {
    white-space: normal;
    border: none;
}

#image-td {
    flex-flow: column;
}

.table-image {
    width: 50px;
    height: 50px;
    padding: 5px;
    object-fit: cover;
}

.new-image {
    width: 80%;
}

#soldout {
    background-color: gray;
}

#cart-container {
    background-color: rgb(242, 219, 219);
    border: 1px solid indianred;
}

.cart-inner {
    background-color: #fff;
    border: none;
    width: 80% !important;
}

.total {
    font-size: 18px !important;
    font-weight: 600;
    text-align: center !important;
}

.sub-btn {
    background-color: #fff;
    border: 1px solid indianred;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.sub-btn a {
    color: indianred;
}

.edit-td select {
    height: 40px;
    font-size: 15px;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid indianred;
}

#sub-menu2 {
    transform: rotate(0deg);
    width: 90%;
    display: flex;
    margin-top: -10px;
}

#sub-menu2 a {
    display: block;
    width: 20vw;
    text-align: center;
    height: 20vw;
    line-height: 20vw;
    color: #fff;
    margin: 5px;
    font-size: 14px;
    z-index: 1000;
}

#contact-select {
    width: 89%;
    padding: 0 4%;
    height: 50px;
    border: 1px solid indianred;
    border-radius: 5px;
    margin: 5px auto 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}




/**/
.pf-side {
    color: #000;
    background-color: #fff;
}

.pfs {
    display: inline-block;
}
.pf {
    width: 29%;
    height: 19.6vw;
    float: left;
}

.pf img {
    aspect-ratio: 4/3;
}

.pf-p-wrapper {
    position: relative;
    height: 4.4vw;
    width: 90%;
    margin: auto;
}

.pf p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
    font-size: 1.2vw;
}

.pf-submit {
    background-color: #000;
    color: #fff;
}

.notice {
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
}

#login_submit {
    display: block;
}



@media screen and (max-width:750px) {
    .pc {
        display: none;
    }
    
    .sp {
        display: block;
    }

    #home-p {
        text-align: left;
    }

    #cxxsew-main {
        background-size: contain;
    }

    .large-img, #concept-movie {
        width: 100% !important;
    }

    .article-flex, .article-flex-re {
        display: block;
    }

    .article-p-wrapper {
        width: 100%;
    }
    
    .article-img-wrapper {
        width: 100%
    }

    .menu-h2 {
        text-align: center;
        color: #fff;
        margin-top: 20px;
    }

    .toggle-btn {
        min-width: 60px;
        height: 60px;
        background-color: indianred;
        text-align: center;
        line-height: 60px;
        color: #fff;
    }
    
    #cross {
        height: 100%;
        width: 60%;
        margin: auto;
        position: relative;
    }
    
    #cross span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: white;
        position: absolute;
        top: calc((100% - 2px)/2);
        transition: 0.5s;
    }
    
    .menu-line-top {
        transform: translateY(-10px);
    }
    .menu-line-bottom {
        transform: translateY(10px);
    }
    
    .menu-line-top.open {
        transform: rotate(45deg);
    }
    .menu-line-middle.open {
        opacity: 0;
    }
    .menu-line-bottom.open {
        transform: rotate(-45deg);
    }

    #sp-bg {
        background-color: #000;
        opacity: 0.7;
    }

    #sp-bg.open {
        left: 0;
    }

    .hidden {
        /* display: none !important; */
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 70px;
        left: -100%;
        z-index: 999;
        transition: 0.5s;
    }

    .hidden.open {
        left: 0;
    }

    .main-photo {
        aspect-ratio: 4/3;
    }

    input, textarea {
        width: 80%;
    }

    .contents {
        width: 85%;
    }

    .article-p-wrapper:nth-child(1) {
        order: 1;
    }
    
    .article-img-wrapper:nth-child(1) {
        order: 0;
    }

    .work {
        width: 45%;
    }

    .pf {
        width: 45%;
        height: 38.25vw;
    }

    .pf p {
        font-size: 2.5vw;
    }

    .pf-p-wrapper {
        height: 9vw;
    }
}