@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

#dora-back {
    width: 100%;
    background: rgb(200, 239, 255);
}

#dora-con {
    width: 100%;
    padding: 5px 0 0;
    margin: 70px auto 0px;
    position: relative;
}

#dora-con h1 {
    color: darkcyan;
    font-family: 'Kiwi Maru', serif;
}

#hidden-word, #stop, #play, #voiceButton {
    display: none;
}

#dora-alert {
    position: absolute;
    top: 135px;
    right: 40px;
    color: #fff;
    font-family: 'Kiwi Maru', serif;
}

#doraemon {
    width: 100%;
    margin: 0;
    display: block;
}

#dora-wrapper {
    width: 80%;
    margin: auto;
}

#dora-wrapper form {
    display: flex;
    position: absolute;
    top: 60px;
    width: 80%;
    z-index: 1;
}

#dora-wrapper input {
    margin: 30px 5px;
    padding: 0 2%;
    width: 65%;
    border: none;
}

#send {
    width: 15% !important;
    background-color: #5BB7BE;
    cursor: pointer;
}

#output_stt, #confidence_stt {
    display: none;
}

#btn_stt {
    width: 30px;
    height: 30px;
    background-color: #a44848;
    padding: 10px;
    border-radius: 80px;
    filter: invert(100%);
    cursor: pointer;
    margin: 30px 35px;
}

@media screen and (max-width:750px) {

    #dora-con h1 {
        font-size: 14px;
        padding-bottom: 80px;
    }

    #dora-wrapper {
        width: 100%;
    }

    #dora-wrapper form {
        top: 25px;
        width: 100%;
    }

    #dora-alert {
        top: 120px;
        right: 10px;
        font-size: 12px;
    }

    #dora-wrapper input {
        font-size: 16px;
    }

    #send {
        font-size: 12px !important;
        text-align: center;
    }

    #btn_stt {
        margin: 30px 5px;
    }

    #doraemon {
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}