@charset "utf-8";
// @import "swiper/swiper-bundle.min.css";

.ex-hd-side {
    background-color: lightcoral;
}

// lifecost
#cost-con {
    width: 100%;
}

#cost-con p {
    width: 80%;
    margin: 10px auto;
}

#cost-result {
    margin: 30px auto;
}

#cost-con table, td, th {
    min-width: 200px;
}

#cost-con input {
    margin: 5px;
    border: 1px solid orange;
    height: 40px;
}

#cost, .my_cost {
    color: red;
}

#cost-con h2 {
    width: 80%;
    margin: 5px auto;
    padding: 5px 0;
}

#cost-con div {
    font-family: 'Times New Roman', Times, serif;
}

.cost-section {
    background-color: #fff1c6;
    width: 80%;
    margin: 15px auto;
    padding: 20px 0;
}

.underline {
    text-decoration:underline;
    color: blue;
}

.cost-table {
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
}

.decided-cost {
    background-color: #fff;
    width: 80%;
    margin: 5px auto;
    font-size: 24px;
    padding: 5px 0;
    font-weight: bold;
}

.cost-btn {
    border: none !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    width: 120px !important;
    cursor: pointer !important;
    background-color: rgb(255, 191, 0) !important;
    margin: 15px auto !important;
    height: 50px !important;
}

.cost-btn:hover {
    background-color: orange !important;
}

#lifecost_total td, #cost, #income td {
    font-weight: bold;
}

#shortage {
    font-size: 20px;
    font-weight: bold;
}

#my_total, .red {
    color: red;
}

#income-td {
    color: orange;
}

.orange {
    color: rgb(255, 140, 0);
}

.gene_cost_input, .basic_month {
    width: 100px;
    text-align: center;
}

#my_year_total, .lifeincome {
    font-weight: bold;
    color: orange;
}

#basic_total {
    font-weight: bold;
    color: palevioletred;
}

#simulate-box {
    width: 80%;
    margin: auto;
}


.option {
    display: inline-block;
    min-width: 100px;
    height: 30px;
    background-color: #fff;
    margin: 5px;
    line-height: 30px;
    border: solid 1px orange;
}

.option_cost {
    background-color: #ffce73;
}

.set_input {
    width: 100px;
    margin: auto 5px;
}








// portrait
#portrait-back {
    background-image: url("/image/gallery.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#portrait-back-cover {
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

#portrait-con {
    margin: 100px auto 0;
    padding-bottom: 70px;
    z-index: 1;
    position: relative;
}

#portrait-article {
    margin: 30px auto;
}

.portrait {
    aspect-ratio: 1/1 !important;
    width: 30% !important;
    margin: 5px;
    transition: transform 0.3s ease;
}

.portrait:hover {
    transform: scale(1.2);
}









// 英検１級
#e-g1-back {
    background-image: url("/image/castle.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#e-g1-con {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 70px auto 0;
    padding-bottom: 40px;
}

#title, #e-g1-con h1, #e-g1-con h2, #e-g1-con p {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#quiz {
    font-size: 40px;
}

#input_answer {
    text-align: center;
    width: auto;
    display: none;
}

#voice, #mistakes_confirm {
    display: block;
    width: 200px;
}

#word {
    display: none;
}


.quiz_button {
    background-color:firebrick;
    margin:0.5em auto;
    width:50%;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.voiceButton, #nextButton, .changeEitangoButton {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.quiz_button:hover {
    background-color: rgb(228, 59, 59);
}

ul {
    padding-inline-start: 0px;
}

.categoryButton {
    list-style-type: none;
    text-align: center;
    height: 25px;
    width: 50%;
    padding: 0;
    margin: auto;
    background-color: teal;
    cursor: pointer;
    cursor: hand;
}

.categoryButton:hover {
    background-color: rgb(41, 199, 199);
}

#quiz_container p {
    display: inline;
}

#btn_audio{
    display: none;
}

#mistake_back {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    cursor: pointer;
}

#no_mistakes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 20px;
    display: none;
}

#mistake_lists {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: firebrick;
    color: #fff;
    height: 500px;
    width: 500px;
    overflow: scroll;
    font-family: 'Times New Roman', Times, serif;
}

#meaning {
    display: none;
}




// media
#media-main {
    background-image: url("/image/ai_space.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#media-back-cover {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
}

#media-con {
    position: relative;
}

#media-main h1, .color-white {
    color: #fff;
}

.media-wrapper p {
    white-space: unset !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis !important;
}

.page a, .next a, .last a, .prev a, .first a {
    color: #fff !important;
}

.current {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: indianred;
}

.next a, .prev a {
    margin: 15px;
}




@media screen and (max-width:750px) {
    .cost-table {
        width: 90%;
    }

    #cost-con table, td, th {
        min-width: auto;
    }

    .cost-section {
        width: 90%;
    }

    #simulate-box {
        width: 90%;
    }



    //english_grade1
    #e-g1-back {
        background-repeat: repeat;
        background-size: contain;
    }

    #e-g1-con {
        width: 100%;
        padding: 40px 0;
    }

    #e-g1-con h1 {
        font-size: 18px;
    }

    #e-g1-con h2 {
        font-size: 16px;
    }

    #quiz {
        font-size: 36px !important;
    }

    #mistake_lists {
        height: 100vw;
        width: 100%;
    }

    .voiceButton {
        width: 100px !important;
    }

    .quiz_button {
        width: 80%;
    }

    .changeEitangoButton {
        color: #000;
        background-color: lightgray;
    }

    
    // portrait
    .portrait {
        aspect-ratio: 1/1 !important;
        width: 45% !important;
    }
}